<section class="section-val">
    <div class="container-val container">
        <h2 class="visually-hidden"></h2>
        <ul class="section-val-list">
        <!-- 1 -->
        <li class="section-val-item">
            <div class="section-val-icon">
            <svg width="64" height="64">
                <use href="./images/icons.svg#icon-antenna"></use>
            </svg>
            </div>
            <h3 class="section-val-title">Strategy</h3>
            <p class="section-val-desc">
            Our goal is to identify the business problem to walk away with
            the perfect and creative solution.
            </p>
        </li>
        <!-- 2 -->
        <li class="section-val-item">
            <div class="section-val-icon">
            <svg width="64" height="64">
                <use href="./images/icons.svg#icon-clock"></use>
            </svg>
            </div>
            <h3 class="section-val-title">Punctuality</h3>
            <p class="section-val-desc">
            Bring the key message to the brand's audience for the best price
            within the shortest possible time.
            </p>
        </li>
        <!-- 3 -->
        <li class="section-val-item">
            <div class="section-val-icon">
            <svg width="64" height="64">
                <use href="./images/icons.svg#icon-diagram"></use>
            </svg>
            </div>
            <h3 class="section-val-title">Diligence</h3>
            <p class="section-val-desc">
            Research and confirm brands that present the strongest digital
            growth opportunities and minimize risk.
            </p>
        </li>
        <!-- 4 -->
        <li class="section-val-item">
            <div class="section-val-icon">
            <svg width="64" height="64">
                <use href="./images/icons.svg#icon-astronaut"></use>
            </svg>
            </div>
            <h3 class="section-val-title">Technologies</h3>
            <p class="section-val-desc">
            Design practice focused on digital experiences. We bring forth a
            deep passion for problem-solving.
            </p>
        </li>
        </ul>
    </div>
</section>