.section-portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
}

.section-portfolio-title {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: var(--navy-blue);
    margin-bottom: 72px;
}

.section-portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 48px;
    flex-direction: column;
}

@media only screen and (min-width: 768px) {
    .section-portfolio-list {
        flex-direction: row;
    }
}

@media only screen and (min-width: 1158px) {
    .section-portfolio-list {
        flex-direction: row;
    }
}

.section-portfolio-item {
    width: 100%;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-portfolio-item:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

@media only screen and (min-width: 768px) {
    .section-portfolio-item {
        width: calc((100% - 24px * 2) / 2);
    }
}

@media only screen and (min-width: 1158px) {
    .section-portfolio-item {
        width: calc((100% - 24px * 2) / 3);
    }
}

.section-portfolio-item:hover .section-portfolio-pretext {
    transform: translateY(0%);
}

.section-portfolio-img {}

.section-portfolio-pretext {
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--cloud);
    padding: 40px 32px;
    background-color: var(--iris);
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.section-portfolio-desc {
    border-bottom: 1px solid var(--cornflower);
    border-left: 1px solid var(--cornflower);
    border-right: 1px solid var(--cornflower);
    padding: 32px 16px;
}

.section-portfolio-name {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
    margin-bottom: 8px;
}

.section-portfolio-tag {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: var(--slate);
}