 <header class="header">
    <div class="container-header container">
        <nav class="header-nav">
            <!-- logo -->
            <a class="header-logo" href="./index.html"
            >Web<span class="header-logo-second">Studio</span></a
            >
            <!-- links -->
            <ul class="header-nav-list">
                <li>
                    <a class="header-nav-link header-nav-link-active" href="./index.html">Studio</a>
                </li>
                <li>
                    <a class="header-nav-link" href="">Portfolio</a>
                </li>
                <li>
                    <a class="header-nav-link" href="">Contacts</a>
                </li>
            </ul>
        </nav>
        <address class="header-address">
            <ul class="header-address-list">
                <li>
                    <a class="header-address-link" href="mailto:info@devstudio.com">info@devstudio.com</a>
                </li>
                <li>
                    <a class="header-address-link" href="tel:+110001111111">+11 (000) 111-11-11</a>
                </li>
            </ul>
        </address>
        <button class="header-burger-btn" type="button" aria-label="Mobilemenu">
            <svg class="header-burger-icon" width="24" height="24">
                <use href="./images/icons.svg#icon-header-nav-burger"></use>
            </svg>
        </button>
        </div>
    </header>
<main>
