<section class="section-team">
    <div class="container">
        <h2 class="section-team-title">Our Team</h2>
        <ul class="section-team-list">
        <li class="section-team-item">
            <img
            srcset="../../images/team1@1x.jpg 1x,
                  ../../images/team1@2x.jpg 2x"
            src="../../images/team1@1x.jpg"
            alt="mark guerrero product designer"
            width="264"
            height="260"
            />
            <div class="section-team-desc">
            <h3 class="section-team-name">Mark Guerrero</h3>
            <p class="section-team-pos">Product Designer</p>
            <!-- social links card 1-->
            <ul class="section-team-socials">
                <li class="section-team-socials-item">
                <a class="section-team-socials-link" href="https://instagram.com">
                    <svg class="section-team-socials-icon" width="16" height="16">
                    <use href="./images/icons.svg#icon-value-instagram"></use>
                    </svg>
                </a>
                </li>
                <li class="section-team-socials-item">
                <a class="section-team-socials-link" href="https://twitter.com">
                    <svg class="section-team-socials-icon" width="16" height="16">
                    <use href="./images/icons.svg#icon-value-twitter"></use>
                    </svg>
                </a>
                </li>
                <li class="section-team-socials-item">
                <a class="section-team-socials-link" href="https://facebook.com">
                    <svg class="section-team-socials-icon" width="16" height="16">
                    <use href="./images/icons.svg#icon-value-facebook"></use>
                    </svg>
                </a>
                </li>
                <li class="section-team-socials-item">
                <a class="section-team-socials-link" href="https://linkedin.com">
                    <svg class="section-team-socials-icon"  width="16" height="16">
                    <use href="./images/icons.svg#icon-value-linkedin"></use>
                    </svg>
                </a>
                </li>
            </ul>
            </div>
        </li>
        <li class="section-team-item">
            <img
            srcset="../../images/team2@1x.jpg 1x,
                  ../../images/team2@2x.jpg 2x"
            src="../../images/team2@1x.jpg"
            alt="tom ford frontend developer"
            width="264"
            height="260"
            />
            <div class="section-team-desc">
            <h3 class="section-team-name">Tom Ford</h3>
            <p class="section-team-pos">Frontend Developer</p>
            <!-- social links card 1-->
            <ul class="section-team-socials">
                <li class="section-team-socials-item">
                <a class="section-team-socials-link" href="https://instagram.com">
                    <svg class="section-team-socials-icon" width="16" height="16">
                    <use href="./images/icons.svg#icon-value-instagram"></use>
                    </svg>
                </a>
                </li>
                <li class="section-team-socials-item">
                <a class="section-team-socials-link" href="https://twitter.com">
                    <svg class="section-team-socials-icon" width="16" height="16">
                    <use href="./images/icons.svg#icon-value-twitter"></use>
                    </svg>
                </a>
                </li>
                <li class="section-team-socials-item">
                <a class="section-team-socials-link" href="https://facebook.com">
                    <svg class="section-team-socials-icon" width="16" height="16">
                    <use href="./images/icons.svg#icon-value-facebook"></use>
                    </svg>
                </a>
                </li>
                <li class="section-team-socials-item">
                <a class="section-team-socials-link" href="https://linkedin.com">
                    <svg class="section-team-socials-icon"  width="16" height="16">
                    <use href="./images/icons.svg#icon-value-linkedin"></use>
                    </svg>
                </a>
                </li>
            </ul>
            </div>
        </li>
        <li class="section-team-item">
            <img
            srcset="../../images/team3@1x.jpg 1x,
                  ./../images/team3@2x.jpg 2x"
            src="../../images/team3@1x.jpg"
            alt="camila garcia marketing"
            width="264"
            height="260"
            />
            <div class="section-team-desc">
            <h3 class="section-team-name">Camila Garcia</h3>
            <p class="section-team-pos">Marketing</p>
            <!-- social links card 1-->
            <ul class="section-team-socials">
                <li class="section-team-socials-item">
                <a class="section-team-socials-link" href="https://instagram.com">
                    <svg class="section-team-socials-icon" width="16" height="16">
                    <use href="./images/icons.svg#icon-value-instagram"></use>
                    </svg>
                </a>
                </li>
                <li class="section-team-socials-item">
                <a class="section-team-socials-link" href="https://twitter.com">
                    <svg class="section-team-socials-icon" width="16" height="16">
                    <use href="./images/icons.svg#icon-value-twitter"></use>
                    </svg>
                </a>
                </li>
                <li class="section-team-socials-item">
                <a class="section-team-socials-link" href="https://facebook.com">
                    <svg class="section-team-socials-icon" width="16" height="16">
                    <use href="./images/icons.svg#icon-value-facebook"></use>
                    </svg>
                </a>
                </li>
                <li class="section-team-socials-item">
                <a class="section-team-socials-link" href="https://linkedin.com">
                    <svg class="section-team-socials-icon"  width="16" height="16">
                    <use href="./images/icons.svg#icon-value-linkedin"></use>
                    </svg>
                </a>
                </li>
            </ul>
            </div>
        </li>
        <li class="section-team-item">
            <img
            srcset="../../images/team4@1x.jpg 1x,
                  ../../images/team4@2x.jpg 2x"
            src="../../images/team4@1x.jpg"
            alt="daniel wilson ui designer"
            width="264"
            height="260"
            />
            <div class="section-team-desc">
            <h3 class="section-team-name">Daniel Wilson</h3>
            <p class="section-team-pos">UI Designer</p>
            <!-- social links card 1-->
            <ul class="section-team-socials">
                <li class="section-team-socials-item">
                <a class="section-team-socials-link" href="https://instagram.com">
                    <svg class="section-team-socials-icon" width="16" height="16">
                    <use href="./images/icons.svg#icon-value-instagram"></use>
                    </svg>
                </a>
                </li>
                <li class="section-team-socials-item">
                <a class="section-team-socials-link" href="https://twitter.com">
                    <svg class="section-team-socials-icon" width="16" height="16">
                    <use href="./images/icons.svg#icon-value-twitter"></use>
                    </svg>
                </a>
                </li>
                <li class="section-team-socials-item">
                <a class="section-team-socials-link" href="https://facebook.com">
                    <svg class="section-team-socials-icon" width="16" height="16">
                    <use href="./images/icons.svg#icon-value-facebook"></use>
                    </svg>
                </a>
                </li>
                <li class="section-team-socials-item">
                <a class="section-team-socials-link" href="https://linkedin.com">
                    <svg class="section-team-socials-icon"  width="16" height="16">
                    <use href="./images/icons.svg#icon-value-linkedin"></use>
                    </svg>
                </a>
                </li>
            </ul>
            </div>
        </li>
        </ul>
    </div>
</section>