 <section class="section-portfolio">
    <div class="container">
        <h2 class="section-portfolio-title">Our Portfolio</h2>
        <ul class="section-portfolio-list">
        <!-- row 1 -->
        <li class="section-portfolio-item">
            <div class="section-portfolio-img">
            <img
                srcset="../../images/portfolio11@1x.jpg 1x,
                    ../../images/portfolio11@2x.jpg 2x"
                src="./images/portfolio11@1x.jpg"
                alt="image banking app"
                width="360"
                height="300"
            />
            <p class="section-portfolio-pretext">
                14 Stylish and User-Friendly App Design Concepts · Task Manager App · Calorie Tracker App · Exotic Fruit Ecommerce App · Cloud Storage App
            </p>
            </div>
            <div class="section-portfolio-desc">
            <h3 class="section-portfolio-name">Banking App</h3>
            <p class="section-portfolio-tag">App</p>
            </div>
        </li>
        <li class="section-portfolio-item">
            <div class="section-portfolio-img">
            <img
                srcset="../../images/portfolio12@1x.jpg 1x,
                ../../images/portfolio12@2x.jpg 2x"
                src="../../images/portfolio12@1x.jpg"
                alt="image cashless payment"
                width="360"
                height="300"
            />
            <p class="section-portfolio-pretext">
                14 Stylish and User-Friendly App Design Concepts · Task Manager App · Calorie Tracker App · Exotic Fruit Ecommerce App · Cloud Storage App
            </p>
            </div>
            <div class="section-portfolio-desc">
            <h3 class="section-portfolio-name">Cashless Payment</h3>
            <p class="section-portfolio-tag">Marketing</p>
            </div>
        </li>
        <li class="section-portfolio-item">
            <div class="section-portfolio-img">
            <img
                srcset="../../images/portfolio13@1x.jpg 1x,
                ../../images/portfolio13@2x.jpg 2x"
                src="../../images/portfolio13@1x.jpg"
                alt=" image meditaion app"
                width="360"
                height="300"
            />
            <p class="section-portfolio-pretext">
                14 Stylish and User-Friendly App Design Concepts · Task Manager App · Calorie Tracker App · Exotic Fruit Ecommerce App · Cloud Storage App
            </p>
            </div>
            <div class="section-portfolio-desc">
            <h3 class="section-portfolio-name">Meditation App</h3>
            <p class="section-portfolio-tag">App</p>
            </div>
        </li>
        <!-- row 2  -->
        <li class="section-portfolio-item">
            <div class="section-portfolio-img">
            <img
                srcset="../../images/portfolio21@1x.jpg 1x,
                ../../images/portfolio21@2x.jpg 2x"
                src="../../images/portfolio21@1x.jpg"
                alt="image taxi service"
                width="360"
                height="300"
            />
            <p class="section-portfolio-pretext">
                14 Stylish and User-Friendly App Design Concepts · Task Manager App · Calorie Tracker App · Exotic Fruit Ecommerce App · Cloud Storage App
            </p>
            </div>
            <div class="section-portfolio-desc">
            <h3 class="section-portfolio-name">Taxi Service</h3>
            <p class="section-portfolio-tag">Marketing</p>
            </div>
        </li>
        <li class="section-portfolio-item">
            <div class="section-portfolio-img">
            <img
                srcset="../../images/portfolio22@1x.jpg 1x,
                ../../images/portfolio22@2x.jpg 2x"
                src="../../images/portfolio22@1x.jpg"
                alt="image screen illustrations"
                width="360"
                height="300"
            />
            <p class="section-portfolio-pretext">
                14 Stylish and User-Friendly App Design Concepts · Task Manager App · Calorie Tracker App · Exotic Fruit Ecommerce App · Cloud Storage App
            </p>
            </div>
            <div class="section-portfolio-desc">
            <h3 class="section-portfolio-name">Screen Illustrations</h3>
            <p class="section-portfolio-tag">Design</p>
            </div>
        </li>
        <li class="section-portfolio-item">
            <div class="section-portfolio-img">
            <img
                srcset="../../images/portfolio23@1x.jpg 1x,
                ../../images/portfolio23@2x.jpg 2x"
                src="../../images/portfolio23@1x.jpg"
                alt="image online courses"
                width="360"
                height="300"
                title="Online Courses"
            />
            <p class="section-portfolio-pretext">
                14 Stylish and User-Friendly App Design Concepts · Task Manager App · Calorie Tracker App · Exotic Fruit Ecommerce App · Cloud Storage App
            </p>
            </div>
            <div class="section-portfolio-desc">
            <h3 class="section-portfolio-name">Online Courses</h3>
            <p class="section-portfolio-tag">Marketing</p>
            </div>
        </li>
        </ul>
    </div>
</section>