<div class="mobile-menu">
    <button class="header-burger-btn" type="button" aria-label="Mobilemenu">
        <svg class="header-burger-icon" width="28" height="28">
            <use href="./images/icons.svg#icon-header-nav-burger"></use>
        </svg>
    </button>
    <!-- mobile -->
    <ul class="mobile-menu-nav">
        <li class="mobile-menu-nav-item">
            <a class="mobile-menu-nav-link" href="#">Studio</a>
        </li>
        <li class="mobile-menu-nav-item">
            <a class="mobile-menu-nav-link" href="#">Portfolio</a>
        </li>
        <li class="mobile-menu-nav-item">
            <a class="mobile-menu-link" href="#">Contacts</a>
        </li>
    </ul>
    <!-- address -->
    <ul class="mobile-menu-address">
        <li class="mobile-menu-address-item">
            <a class="mobile-menu-address-link" href="mailto:info@devstudio.com">info@devstudio.com</a>
        </li>
        <li class="mobile-menu-address-item">
            <a class="mobile-menu-address-link" href="tel:+110001111111">+11 (000) 111-11-11</a>
        </li>
    </ul>
     <!-- social links card 1-->
    <ul class="section-team-socials">
        <li class="section-team-socials-item">
        <a class="section-team-socials-link" href="https://instagram.com">
            <svg class="section-team-socials-icon" width="16" height="16">
            <use href="./images/icons.svg#icon-value-instagram"></use>
            </svg>
        </a>
        </li>
        <li class="section-team-socials-item">
        <a class="section-team-socials-link" href="https://twitter.com">
            <svg class="section-team-socials-icon" width="16" height="16">
            <use href="./images/icons.svg#icon-value-twitter"></use>
            </svg>
        </a>
        </li>
        <li class="section-team-socials-item">
        <a class="section-team-socials-link" href="https://facebook.com">
            <svg class="section-team-socials-icon" width="16" height="16">
            <use href="./images/icons.svg#icon-value-facebook"></use>
            </svg>
        </a>
        </li>
        <li class="section-team-socials-item">
        <a class="section-team-socials-link" href="https://linkedin.com">
            <svg class="section-team-socials-icon"  width="16" height="16">
            <use href="./images/icons.svg#icon-value-linkedin"></use>
            </svg>
        </a>
        </li>
    </ul>
</div>